# dhcpd.conf

#
# option definitions common to all supported networks...
option domain-name "{{ bastion_named_domain }}";
option domain-name-servers {{ bastion_named_serverip }}; 

default-lease-time 600;
max-lease-time 7200;

# Use this to enble / disable dynamic dns updates globally.
#ddns-update-style none;

# If this DHCP server is the official DHCP server for the local
# network, the authoritative directive should be uncommented.
authoritative;
ping-check true;

# Update Nameserver
ddns-updates on;
ddns-update-style standard;
ddns-domainname "{{ bastion_named_domain }}";
ignore client-updates;

{{ sessionkey }}

{% for zone in bastion_named_zones %}
zone {{ zone }} {
        # enables updates via session key 
        # stored in:     /var/run/named/session.key
        # key algorithm: HMAC-SHA256
         primary 127.0.0.1;
         key local-ddns;
}
{% endfor %}
{% for zone in bastion_named_revzones %}
zone {{ zone }} {
         primary 127.0.0.1;
         key local-ddns;
}
{% endfor %}

# Use this to send dhcp log messages to a different log file (you also
# have to hack syslog.conf to complete the redirection).
log-facility local7;

{% for subnet in bastion_dhcpd_subnets %}
subnet {{ subnet.name }} netmask {{ subnet.mask }} {
  {% if subnet.range_start is defined %} range {{ subnet.range_start }} {{ subnet.range_stop }} ;  
  option routers {{ subnet.router }} ;
  {% endif %}
}
{% endfor %}
