//
// named.conf - managed b Ansible
//
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

options {
	// listen-on port 53 { 127.0.0.1; };
        listen-on { any; };
	listen-on-v6 port 53 { ::1; };
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
	statistics-file "/var/named/data/named_stats.txt";
	memstatistics-file "/var/named/data/named_mem_stats.txt";
	secroots-file	"/var/named/data/named.secroots";
	recursing-file	"/var/named/data/named.recursing";
	// allow-query     { localhost; };
	allow-query     { any ; };

	recursion yes;

	dnssec-enable yes;
	dnssec-validation yes;

	managed-keys-directory "/var/named/dynamic";

	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";

	/* https://fedoraproject.org/wiki/Changes/CryptoPolicy */
	include "/etc/crypto-policies/back-ends/bind.config";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
        channel update_log {
              file "/var/log/named.ddnsupdate.log";
              severity  debug 3;
              print-category yes;
              print-severity yes;
              print-time     yes;
        };
        channel security_info    {
              file "/var/log/named.auth.info";
              severity  info;
              print-category yes;
              print-severity yes;
              print-time     yes;
        };

         category update { update_log; };
         category security { security_info; };
};

zone "." IN {
	type hint;
	file "named.ca";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

{% for zone in bastion_named_zones %}
zone "{{ zone }}" IN {
	type master;
	file "{{ zone }}.zone";
        // enables updates via session key 
        // stored in:     /var/run/named/session.key
        // keyname:       “local-ddns”
        // key algorithm: HMAC-SHA256
	update-policy local ;  
};
{% endfor %}
{% for zone in bastion_named_revzones %}
zone "{{ zone }}" IN {
	type master;
	file "{{ zone }}.zone";
	update-policy local ;  
};
{% endfor %}
