; base zone file for example.com
$TTL 1d    ; default TTL for zone
$ORIGIN {{ item }}. ; base domain-name
; Start of Authority RR defining the key characteristics of the zone (domain)
@         IN      SOA   {{ bastion_named_fqservername }}. root.{{ bastion_named_fqservername }}. (
                                {{ serial }} ; serial number
                                12h        ; refresh
                                15m        ; update retry
                                3w         ; expiry
                                2h         ; minimum
                                )
           IN      NS   {{ bastion_named_fqservername }}. 
{{ bastion_named_serverip | ansible.utils.ipaddr('revdns') }} IN PTR  {{ bastion_named_fqservername }}.  
